# Database
DATABASE_URL="file:./dev.db"

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"

# Server
PORT=3001
NODE_ENV=production

# Frontend URL (URL سایت شما روی سرور)
FRONTEND_URL="https://yourdomain.com"

# CORS Origins (دامنه سایت شما)
CORS_ORIGINS="https://yourdomain.com"
